name: Cipher CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  PYTHON_VERSION: '3.13'

jobs:
  lint_test:
    runs-on: ubuntu-latest
    name: Code Quality & Lint

    steps:
    - uses: actions/checkout@v5

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ env.PYTHON_VERSION }}

    - name: Install dependencies
      run:
        pip install -r requirements.txt

    - name: Run Ruff
      run: ruff check ciphers

    - name: Run mypy
      run: run mypy --config-file pyproject.toml

    - name: Run bandit
      run: bandit -r ciphers

    - name: Run safety
      run: safety check
      continue-on-error: true
